.profile {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #f9f8f9;
  border-radius: 12px;
  max-width: 500px;
}

.description {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}

.avatar {
  width: 170px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 5px 30px 0px rgb(158, 218, 255);
}

.name {
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  color: #0093f2;
  margin-bottom: 15px;
}

.tag {
  margin-bottom: 10px;
}

.tag,
.location {
  font-size: 18px;
  font-weight: 600;
  color: #324e63;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9edaff;
}

.item {
  text-align: center;
  width: calc(100% / 3);
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  border-top: 1px solid #c0c0c0;
}

.item + .item {
  border-left: 1px solid #c0c0c0;
}

.label {
  display: block;
  margin-bottom: 8px;
  color: #324e63;
}

.quantity {
  display: block;
  font-size: 20px;
  font-weight: 700;
}
