.statistics {
  margin-top: 40px;
  border-bottom: 2px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 50px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.statList {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 150px);
  gap: 10px;
  text-align: center;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90px;
  background-color: #9edaff;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.item:hover {
  transform: scale(1.05);
}

.label {
  display: block;
  margin-bottom: 7px;
}

.percentage {
  display: block;
  font-size: 24px;
  font-weight: bolder;
}
